body {
  height: 98vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "article1 article2 aside"
    "article3 article4 aside"
    "footer footer footer";
  row-gap: 10px;
  column-gap: 10px;
}

header {
  background-color: #7efbfc;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  background-color: #9a98f8;
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article1 {
  background-color: #96f8bb;
  grid-area: article1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article2 {
  background-color: #f7bf7f;
  grid-area: article2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article3 {
  background-color: #ef7ebe;
  grid-area: article3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article4 {
  background-color: #d3f77f;
  grid-area: article4;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #85a3e0;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    height: 98vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      " aside aside"
      "article1 article2"
      "article3 article4 "
      "footer footer";
    row-gap: 10px;
    column-gap: 10px;
  }
}

@media (max-width: 576px) {
  body {
    height: 98vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "article1"
      "article2"
      "article3"
      "article4"
      "footer";
    row-gap: 10px;
    column-gap: 10px;
  }
}
